/* @font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
} */
body {
    font-family: "Roboto Mono", sans-serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}
h2:first-of-type {
    font-weight: 700;
}
h2:last-of-type {
    font-weight: 200;
}
/* Надеюсь я правильно понял про альтернативный шрифт, То что это тот, который мы подключили через Google Fonts */
/* Так же я сделал второй подзаголовок не жирным, потому что они изначально на максимуме жирности */
p {
    font-size: 25px;
}
p:first-of-type {
    font-weight: 700;
}