/* @font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
} */
body {
    font-family: "Roboto Mono", sans-serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}
p {
    font-size: 25px;
}