body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(9, 1, 83), rgb(145, 1, 255));
}
.box {
    width: 175px;
    height: 175px;
    margin: 0px 0px 50px 0px;
    border: 3px solid white;
    border-radius: 5%;
}
.box-1 {
    background-color: red;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.box-1:hover {
    transform: scale(2);
}
.box-2 {
    background-color: rgb(17, 252, 0);
    transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.box-2:hover {
    transform: rotate(-45deg);
}
.box-3 {
    background-color: blue;
    transition: transform 1s ease-in;
}
.box-3:hover {
    transform: translate(100px, 50px);
}
.box-4 {
    background-color: #fb00ff;
    transition: transform 1.5s ease-out;
}
.box-4:hover {
    transform: skew(20deg, 30deg);
}