body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(9, 1, 83), rgb(145, 1, 255));
}
.box {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-sizing: border-box;
}
.box:not(:last-child) {
    margin-right: 70px;
}
.box-1 {
    box-sizing: border-box;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    box-shadow: 5px 5px 20px 10px white;
}
.box-1 p {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}
.box-2 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to bottom right, #ff0000, #ffae00);
    border: 5px dashed black;
}
.box-2 .mini-box {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
    height: 30%;
    margin: calc(10%);
    background: black;
    color: white;
}
.box-2 .mini-box:nth-child(2n-1) {
    border-radius: 10%;
}
.box-2 .mini-box:nth-child(2n) {
    border-radius: 50%;
}
.box-3 {
    background-image: url(./Grindelwald.jpeg); /* Вже зробив ) */
    background-size: cover;
    filter: brightness(0.7);
    transition: scale 0.5s ease-in-out, box-shadow 0.5s ease;
    border: 2px solid black;
}
.box-3:hover {
    scale: 1.3;
    filter: brightness(1);
    box-shadow: 2px 2px 20px 5px white;
}